*.asv
*.m~
*.o
*.a
*.log
*.pyc
*.exe
*.bit
.DS_Store*
Thumbs.db
data/
data/*
cfg/
cfg/*
*.cfg
build/
build32/
build64/
dist/
# eclipse ignores
.cproject
.project
.pydevproject
*.prefs
# sequence data files
/experiments/muWaveDetection/sequences/*.txt